<launch>
  <arg name="base_frame"            default="base_link" />
  <arg name="odom_frame"            default="odom" />
  <arg name="slam_method"           default="gmapping" />
  <arg name="enable_exploration"    default="false" />

  <group if="$(eval arg('slam_method') == 'gmapping')">
    <include file="$(find me5413_bringup)/launch/slam/gmapping.launch">
        <arg name="base_frame" value="$(arg base_frame)"/>
        <arg name="odom_frame" value="$(arg odom_frame)"/>
    </include>
    <!-- Launch Rviz with our settings -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_bringup)/rviz/gmapping.rviz"/>
  </group>

  <group if="$(eval arg('slam_method') == 'cartographer')">
    <include file="$(find me5413_bringup)/launch/slam/cartographer_mapping.launch">
    </include>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_bringup)/rviz/cartographer.rviz"/>
  </group>

  <include file="$(find me5413_bringup)/launch/navigation/move_base.launch" />

  <node name="schedule" pkg="me5413_bringup" type="schedule.py" output="screen">
      <rosparam file="$(find me5413_bringup)/config/schedule/waypoints.yaml" command="load" />
  </node>

  <node name="bridge_detector" pkg="me5413_perception" type="bridge_detector_node.py" />

</launch>
