<launch>
  <arg name="use_sim_time"  default="true" />
  <arg name="gui"           default="true" />
  <arg name="headless"      default="false" />
  <arg name="world_name"    default="$(find me5413_world)/worlds/me5413_project_2425.world" />
  <arg name="config"        default="base" />
  <arg name="teleop_input"  default="joystick" />

  <arg name="spawn_x" default="0" />
  <arg name="spawn_y" default="0" />
  <arg name="spawn_Y" default="1.57079632679" />


  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

<!--   Load Jackal's description, controllers, and teleop nodes. -->
  <include file="$(find jackal_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>
 <include file="$(find jackal_control)/launch/control.launch">
    <arg name="enable_ekf" value="false"/>
 </include>
 <param name="/jackal_velocity_controller/enable_odom_tf" value="true" />

<!--   Spawn Jackal -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	      args="-urdf -model jackal -param robot_description -x $(arg spawn_x) -y $(arg spawn_y) -z 3.0 -R 0 -P 0 -Y $(arg spawn_Y)" />

<!--   Load the destination configuration -->
  <rosparam command="load" file="$(find me5413_world)/config/config.yaml" />

    <include file="$(find me5413_bringup)/launch/navigation/teleop.launch">
        <arg name="teleop_input" value="joystick" />
  </include>

  <group ns="front">
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen"/>
  </group>

</launch>
